@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight:400;
    color: #443B2F;
}

/*headings and title*/

h1, h2 {
    font-family: Noto Sans JP, sans-serif;
    letter-spacing: 2px;
    color: black;
}

#title {
    text-align:center;
    font-size:250%;
}
