@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight:400;
    color: black;
}

/*headings and title*/

h1, h2 {
    font-family: Noto Sans JP, sans-serif;
    letter-spacing: 2px;
    color: black;
}

#title {
    float:left;
    font-size:250%;
    margin-left: 20px;
}

/* nav links */

#menu {
    letter-spacing:2px;
    font-size: 120%;
}

#menu, #title {
    line-height: 100px;
}

#menu li {
    float:right;
    list-style-type:none;
    margin-right: 20px;
}

#menu a {
    text-decoration:none;
    color: black;
}

#menu a:hover {
    border-bottom: 2px solid blue;
}

/* image and image text*/

 .pagetop {
    border-bottom: 2px solid blue
 }

 #main-image {
     height:500px;
     width: 100%;
     background: url('../images/pexels-lukas-medvedevas-6006077\ \(1\).jpeg') no-repeat center center;
     overflow:hidden;
 }

 #under-text {
     padding-top: 10px;
     text-align: center;
     font-family: Roboto, sans serif;
 }

 /*why come to wicklow*/

 #why-wicklow {
     height:350px;

 }

#under-text > h2 {
    padding-top: 20px;
    text-decoration: underline;
}

#center, #center > p {
    text-align:centre;
    padding-top: 10px;
    width: 66%;
    margin: 0 auto;
    clear:both;
    margin-bottom: 20px;
}

#location{
    color:black;
}

/* events */

#events {
    height: 500px;
}

#left-event {
    padding-top: 10px;
    width: 33%;
    float: left;
}

#right-event {
    padding-top: 10px;
    width: 33%;
    float: right;
}

#middle-event {
    width:33%;
    margin: 0 auto;
}

#eventid {
    color:black;
}

hr {
    border-top: 2px solid black;
    width: 100%;
    margin: 5px 0;
}

.left-event-1 {
    width:60%;
    float:right;
    line-height: 20px;
    clear: both;
    margin-top:25px;
}

.right-event-1 {
    width:60%;
    float:left;
    line-height: 20px;
    clear: both;
    margin-top:25px;
}

.right-event-1 h2 {
    text-align: right;
}

.right-event-1 p {
    text-align: right;
}

#event-title {
    text-align: center;
    margin: 20x;
    font-size: 200%;
    margin-bottom: 30px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/pexels-pineapple-supply-co-1071882.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* social */

footer {
    height: 100px;
}

.socials {
    text-align:center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: black;
    
}

/* Where to Visit */

#title-1 {
    text-align:center;
    clear: both;
    font-size: 120%;
    margin-bottom: 20px;
}

#place-1 {
    height: 500px;
    width: 100%;
    background: url('../images/header-wicklow-gaol-wicklow.jpg') no-repeat center center;
    margin-bottom: 10px;
}

#place-2 {
    height: 500px;
    width: 100%;
    background: url('../images/JpCYx1A\ \(1\).jpeg') no-repeat center center;
    margin-bottom: 10px;
}

#place-3 {
    height: 500px;
    width: 100%;
    background: url('../images/Bray-Seafront_1\ \(1\).jpeg') no-repeat center center; alt: image of bray seafront;
}
#wicklow-gaol{
    color: black;
    margin-left: 10px;

}
#victors-way{
    color: white;
    margin-left: 10px;
}

#bray{
    color: black;
    margin-left: 10px;
}

/* media queries */

/* large to medium screens*/
@media screen and (max-width: 1200px) {
    
    #why-wicklow {width:75%;
        height:500px;
        margin: 0 auto;}
    
    #events {
        width:65%;
        height:1200px;
        margin: 0 auto;
    }

    #event-title {
        padding: 30px 0;
        margin: 0;
    }

    #left-event, #right-event {
        width:100%;
        float: left;
        padding: 0;
        padding-bottom: 10px;
    }

    #middle-event {
        clear:both;
        width:100%;
        float:left;
        padding: 0%;
    }
}

/* medium screens from 950 pixels down*/
@media screen and (max-width:950px) {
    #menu {
        clear:left;
        float:left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height:25px;
    }
}