@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight:400;
    color: #443B2F;
}

/*headings and title*/

h1, h2 {
    font-family: Noto Sans JP, sans-serif;
    letter-spacing: 2px;
    color: black;
}

#title {
    float:left;
    font-size:250%;
    margin-left: 20px;
}

/* nav links */

#menu {
    letter-spacing:2px;
    font-size: 120%;
}

#menu, #title {
    line-height: 100px;
}

#menu li {
    float:right;
    list-style-type:none;
    margin-right: 20px;
}

#menu a {
    text-decoration:none;
    color: #443B2F;
}

#menu a:hover {
    border-bottom: 2px solid blue;
}

/* image and image text*/

 .pagetop {
    border-bottom: 2px solid blue
 }

 #main-image {
     height:500px;
     width: 100%;
     background: url('../images/pexels-lukas-medvedevas-6006077\ \(1\).jpeg') no-repeat center center;
     overflow:hidden;
 }

 #under-text {
     padding-top: 10px;
     text-align: center;
     font-family: Roboto, sans serif;
 }

 